
<table class="table">
<thead>
<tr>
	<th>Repo Name</th>
	<th>Forks</th>
	<th>Created</th>
</tr>
</thead>
<tbody>
<% for( repo in repos){ %>
	<tr>
		<td><a href="<%= repos[repo].url %>" target="_blank"><%= repos[repo].name %></a></td>
		<td><%= repos[repo].forks %></td>
		<td><%= repos[repo].created %></td>
	</tr>
<% } %>
</tbody>
</table>